<ion-header>
  <ion-navbar mode="ios" [color]="isRecording ? 'danger' : 'primary'">
    <ion-title mode="ios">
      Woods Field Trial
    </ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-fab top left edge>    
   		<button ion-fab color="gold" (click)="onClickMainMenu()">
          <ion-icon color="dark" name="arrow-dropdown-circle"></ion-icon>
      	</button>
   		<ion-fab-list side="bottom" style="width:250px">   			
			<ion-item>
			<button ion-button full round color="primary" (click)="onClickHome()"><ion-icon name="home"></ion-icon>&nbsp;Home</button>
			</ion-item>
			<ion-item>
				<button ion-button color="primary" (click)="onClickSync()"><ion-icon name="ios-cloud-upload"></ion-icon>&nbsp;Sync</button>
			</ion-item>
			<ion-item>
				<ion-label>distanceFilter</ion-label>
				<ion-input [(ngModel)]="distanceFilter" (blur)="onSetConfig('distanceFilter')" type="number"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>stopTimeout</ion-label>
				<ion-input [(ngModel)]="stopTimeout" (blur)="onSetConfig('stopTimeout')" type="number"></ion-input>
			</ion-item>
			<ion-item>
					<ion-label>BLEscanPeriod</ion-label>
					<ion-input [(ngModel)]="scan_period" (blur)="onSetConfig('scan_period')" type="number"></ion-input>
			</ion-item>
     	</ion-fab-list>
	</ion-fab>

		<ion-list>
				<ion-item>
					<h3>{{ statusMessage }}</h3>
				</ion-item>
				<ion-item *ngFor="let device of devices">
					<h4>{{count}}:{{ device.name || 'Unnamed' }}{{ device.id }}RSSI: {{ device.rssi }} </h4>
				</ion-item>  
		</ion-list>
		<!-->
		<button ion-button full (click)="startListening()">Start Listening</button>
		<button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>	 
		<ion-card>
			<ion-card-header>{{matches}}</ion-card-header>
		</ion-card>
		</-->
	<!-- Google Map Element -->
		<div #map id="map"></div>
</ion-content>

<ion-footer>
	<ion-toolbar mode="ios" color="gold">
		<ion-buttons start>
			<button ion-button solid (click)="onClickGetCurrentPosition()" color="primary" style="width:50px">
				<ion-icon name="md-navigate" color=""></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			<span [innerHTML]="motionActivity">Activity</span>&nbsp;&middot;&nbsp;<span [innerHTML]="odometer"></span>      
		</ion-title>
		<ion-buttons end>
			<button ion-button solid (click)="onClickChangePace()" style="width:50px" color="{{isMoving ? 'danger' : 'secondary'}}">
				<ion-icon name="{{isMoving ? 'pause' : 'play'}}"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

